Import relevant libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from dask.distributed import LocalCluster
import dask.dataframe as dd

In [2]:
#cluster = LocalCluster()
#client = cluster.get_client()

In [3]:
#client

In [4]:
data_file = "./mmtd.txt"

In [5]:
id_cols = ['artist_name', 'track_title']

In [6]:
df_mmtd_temp = pd.read_csv(data_file, sep='\t')

In [7]:
df_mmtd_temp.shape

(1090726, 291)

In [8]:
df_mmtd_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090726 entries, 0 to 1090725
Columns: 291 entries, tweet_id to lang_zu
dtypes: float64(264), int64(7), object(20)
memory usage: 2.4+ GB

In [9]:
df_mmtd_temp.columns

Index(['tweet_id', 'tweet_tweetId', 'tweet_userId', 'tweet_artistId',
       'tweet_trackId', 'tweet_datetime', 'tweet_unixtime', 'tweet_weekday',
       'tweet_longitude', 'tweet_latitude',
       ...
       'lang_wuu', 'lang_xal', 'lang_xh', 'lang_yao', 'lang_yap', 'lang_yo',
       'lang_yue', 'lang_za', 'lang_zh', 'lang_zu'],
      dtype='object', length=291)

In [10]:
df_unique_tracks = df_mmtd_temp[id_cols].drop_duplicates()

In [11]:
df_unique_tracks.shape

(127173, 2)

In [12]:
df_mmtd_temp.shape

(1090726, 291)

In [13]:
df_mmtd_temp.columns[:45]

Index(['tweet_id', 'tweet_tweetId', 'tweet_userId', 'tweet_artistId',
       'tweet_trackId', 'tweet_datetime', 'tweet_unixtime', 'tweet_weekday',
       'tweet_longitude', 'tweet_latitude', 'artist_mbid', 'artist_name',
       'track_title', 'track_7digitalId', 'amazon_asin', 'amazon_albumAsin',
       'country', 'state', 'county', 'city', 'postalCode', 'street',
       'timezone', 'countryName', 'isoAlpha3', 'fipsCode', 'continent',
       'continentName', 'capital', 'areaInSqKm', 'population', 'currencyCode',
       'languages', 'west', 'north', 'east', 'south', 'lang_aa', 'lang_ady',
       'lang_af', 'lang_ak', 'lang_am', 'lang_ar', 'lang_arc', 'lang_as'],
      dtype='object')

In [14]:
df_mmtd_temp["tweet_trackId"].nunique()

134199

In [15]:
df_unique_Tracks_2 = df_mmtd_temp[["artist_name", "track_title", "tweet_trackId"]].drop_duplicates()

In [16]:
df_unique_Tracks_2.shape

(134199, 3)

In [17]:
df_unique_Tracks_2[df_unique_Tracks_2.duplicated(subset=['artist_name','track_title'], keep=False)].sort_values(["artist_name"]).head(20)

         artist_name            track_title  tweet_trackId
1014002      'N Sync            Bye Bye Bye       14289507
53616        'N Sync            Bye Bye Bye        5270936
708591       'N Sync            Bye Bye Bye        9526530
1072114      (Rank 1  L.E.D. There Be Light       14341015
707949       (Rank 1                Airwave        9594195
204641       (Rank 1                Airwave        6057178
279936       (Rank 1   Wild and Perfect Day        6057381
1063104      (Rank 1   Wild and Perfect Day       14341112
305356       (Rank 1  L.E.D. There Be Light        6057284
200215          10cc        I'm Not in Love          12284
1002091         10cc        I'm Not in Love       13491435
939276         16Bit             Skullcrack       12904862
731919         16Bit             Skullcrack        8957640
13688          16Bit             Skullcrack          16687
274049             2           Nada contigo        4560974
755826             2           Nada contigo        9449796
1048747            2           Nada contigo       14228952
911834   2 Live Crew           Hoochie Mama       13492927
713365   2 Live Crew           Hoochie Mama        7183593
901294   2 Live Crew     We Want Some Pussy       13493080

In [18]:
!pip install pylast

Requirement already satisfied: pylast in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (5.3.0)
Requirement already satisfied: httpx in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from pylast) (0.27.2)
Requirement already satisfied: anyio in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from httpx->pylast) (4.3.0)
Requirement already satisfied: certifi in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from httpx->pylast) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from httpx->pylast) (1.0.6)
Requirement already satisfied: idna in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from httpx->pylast) (3.7)
Requirement already satisfied: sniffio in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from httpx->pylast) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from httpcore==1.*->httpx->pylast) (0.14.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from anyio->httpx->pylast) (1.2.0)
Requirement already satisfied: typing-extensions>=4.1 in /Users/karthikpalaniappan/anaconda3/envs/dask-tutorial/lib/python3.10/site-packages (from anyio->httpx->pylast) (4.11.0)

In [19]:
import pylast

In [20]:
api_key = "a32e2f74379d1ca0a103e25a39338d8b"
api_secret = "40fd7fa49ae684e075f23be69ea4abfe"

In [21]:
genreFilter = ['rnb', 'rap', 'electronic', 'rock', 'newage', 'classical', 'reggae', 'blues', 'country', 'world', 'folk', 'easylistening', 'jazz', 'vocal', 'children\'s', 'punk', 'alternative', 'spokenword', 'pop', 'heavymetal']

In [22]:
genreFilterSet = set(genreFilter)

In [23]:
df_unique_tracks = df_unique_tracks.assign(**dict.fromkeys(genreFilter, 0))

In [35]:
def getGenre(row):
    artist = row['artist_name']
    title = row['track_title']
    try:
        genre = pylast.LastFMNetwork(api_key=api_key, api_secret=api_secret).get_track(title=title, artist=artist).get_top_tags()
    except:
        genre = []
    currGenreSet = set([j[0].get_name() for j in genre])
    songGenres = genreFilterSet.intersection(currGenreSet)
    if len(songGenres) > 0:
            row.__setitem__(list(songGenres), 1)
    if row.name%1000 == 0:
        print(row.name, row[list(songGenres)])
    return row[genreFilter]

In [ ]:
#df_mmtd_temp.npartitions

In [34]:
df_unique_tracks.shape

(127173, 22)

In [36]:
last_network = pylast.LastFMNetwork(api_key=api_key, api_secret=api_secret)

df_unique_tracks.loc[:, genreFilter] = df_unique_tracks.apply(getGenre, axis=1)

0 Series([], Name: 0, dtype: object)
1000 Series([], Name: 1000, dtype: object)
2000 rap    1
rnb    1
Name: 2000, dtype: object
3000 pop    1
Name: 3000, dtype: object
4000 pop     1
rnb     1
jazz    1
Name: 4000, dtype: object
5000 Series([], Name: 5000, dtype: object)
8000 reggae         1
alternative    1
rock           1
pop            1
punk           1
Name: 8000, dtype: object
10000 punk           1
alternative    1
pop            1
rock           1
Name: 10000, dtype: object
11000 blues    1
pop      1
rnb      1
Name: 11000, dtype: object
12000 rap           1
electronic    1
pop           1
rnb           1
Name: 12000, dtype: object
15000 Series([], Name: 15000, dtype: object)
17000 jazz     1
vocal    1
rock     1
blues    1
pop      1
folk     1
Name: 17000, dtype: object
18000 rap    1
Name: 18000, dtype: object
24000 electronic     1
alternative    1
rock           1
jazz           1
Name: 24000, dtype: object
30000 rock    1
Name: 30000, dtype: object
32000 Series([], Name: 32000, dtype: object)
34000 country    1
Name: 34000, dtype: object
42000 electronic    1
pop           1
Name: 42000, dtype: object
49000 Series([], Name: 49000, dtype: object)
55000 alternative    1
pop            1
jazz           1
Name: 55000, dtype: object
56000 punk           1
alternative    1
rock           1
Name: 56000, dtype: object
59000 punk    1
Name: 59000, dtype: object
78000 pop    1
Name: 78000, dtype: object
83000 pop    1
Name: 83000, dtype: object
88000 electronic    1
pop           1
rock          1
Name: 88000, dtype: object
89000 folk    1
pop     1
rock    1
Name: 89000, dtype: object
90000 jazz    1
Name: 90000, dtype: object
91000 rock    1
Name: 91000, dtype: object
94000 punk           1
alternative    1
pop            1
rock           1
Name: 94000, dtype: object
96000 alternative    1
pop            1
rock           1
Name: 96000, dtype: object
104000 alternative    1
Name: 104000, dtype: object
107000 rap    1
Name: 107000, dtype: object
108000 blues    1
pop      1
rock     1
jazz     1
Name: 108000, dtype: object
111000 folk    1
pop     1
rock    1
Name: 111000, dtype: object
115000 Series([], Name: 115000, dtype: object)
116000 rap    1
Name: 116000, dtype: object
120000 blues          1
alternative    1
pop            1
rock           1
Name: 120000, dtype: object
123000 blues    1
rock     1
jazz     1
Name: 123000, dtype: object
127000 Series([], Name: 127000, dtype: object)
132000 rap    1
Name: 132000, dtype: object
148000 rnb    1
Name: 148000, dtype: object
169000 alternative    1
rock           1
Name: 169000, dtype: object
176000 Series([], Name: 176000, dtype: object)
180000 pop     1
rock    1
Name: 180000, dtype: object
186000 country    1
Name: 186000, dtype: object
194000 pop    1
Name: 194000, dtype: object
196000 jazz    1
rnb     1
rock    1
pop     1
folk    1
Name: 196000, dtype: object
198000 Series([], Name: 198000, dtype: object)
212000 Series([], Name: 212000, dtype: object)
214000 Series([], Name: 214000, dtype: object)
228000 folk     1
world    1
pop      1
Name: 228000, dtype: object
235000 electronic    1
Name: 235000, dtype: object
242000 alternative    1
rock           1
Name: 242000, dtype: object
243000 Series([], Name: 243000, dtype: object)
246000 electronic    1
country       1
pop           1
rock          1
Name: 246000, dtype: object
247000 alternative    1
Name: 247000, dtype: object
248000 Series([], Name: 248000, dtype: object)
252000 alternative    1
Name: 252000, dtype: object
256000 alternative    1
rock           1
pop            1
folk           1
country        1
Name: 256000, dtype: object
260000 Series([], Name: 260000, dtype: object)
261000 Series([], Name: 261000, dtype: object)
264000 Series([], Name: 264000, dtype: object)
273000 rock    1
Name: 273000, dtype: object
292000 Series([], Name: 292000, dtype: object)
295000 Series([], Name: 295000, dtype: object)
302000 folk    1
pop     1
rock    1
jazz    1
Name: 302000, dtype: object
311000 electronic    1
pop           1
Name: 311000, dtype: object
321000 alternative    1
rock           1
Name: 321000, dtype: object
325000 Series([], Name: 325000, dtype: object)
328000 Series([], Name: 328000, dtype: object)
333000 rnb    1
Name: 333000, dtype: object
340000 reggae    1
Name: 340000, dtype: object
343000 Series([], Name: 343000, dtype: object)
344000 Series([], Name: 344000, dtype: object)
351000 punk           1
alternative    1
rock           1
Name: 351000, dtype: object
365000 Series([], Name: 365000, dtype: object)
374000 Series([], Name: 374000, dtype: object)
379000 vocal     1
world     1
rock      1
pop       1
newage    1
folk      1
Name: 379000, dtype: object
387000 Series([], Name: 387000, dtype: object)
406000 blues          1
electronic     1
alternative    1
rock           1
Name: 406000, dtype: object
408000 Series([], Name: 408000, dtype: object)
412000 Series([], Name: 412000, dtype: object)
420000 rnb    1
Name: 420000, dtype: object
454000 punk    1
Name: 454000, dtype: object
457000 Series([], Name: 457000, dtype: object)
462000 Series([], Name: 462000, dtype: object)
479000 Series([], Name: 479000, dtype: object)
487000 alternative    1
jazz           1
rnb            1
blues          1
pop            1
Name: 487000, dtype: object
509000 Series([], Name: 509000, dtype: object)
512000 Series([], Name: 512000, dtype: object)
516000 Series([], Name: 516000, dtype: object)
536000 Series([], Name: 536000, dtype: object)
545000 alternative    1
electronic     1
rock           1
blues          1
pop            1
folk           1
Name: 545000, dtype: object
559000 pop    1
Name: 559000, dtype: object
572000 Series([], Name: 572000, dtype: object)
579000 Series([], Name: 579000, dtype: object)
586000 Series([], Name: 586000, dtype: object)
593000 Series([], Name: 593000, dtype: object)
623000 Series([], Name: 623000, dtype: object)
702000 Series([], Name: 702000, dtype: object)
716000 vocal         1
electronic    1
pop           1
Name: 716000, dtype: object
719000 electronic    1
world         1
Name: 719000, dtype: object
725000 alternative    1
jazz           1
rock           1
blues          1
pop            1
Name: 725000, dtype: object
735000 blues    1
rock     1
Name: 735000, dtype: object
737000 pop    1
Name: 737000, dtype: object
751000 pop    1
Name: 751000, dtype: object
752000 Series([], Name: 752000, dtype: object)
758000 Series([], Name: 758000, dtype: object)
771000 Series([], Name: 771000, dtype: object)
772000 rock    1
Name: 772000, dtype: object
794000 Series([], Name: 794000, dtype: object)
825000 folk    1
rock    1
Name: 825000, dtype: object
827000 reggae    1
Name: 827000, dtype: object
844000 alternative    1
electronic     1
blues          1
pop            1
folk           1
country        1
Name: 844000, dtype: object
852000 Series([], Name: 852000, dtype: object)
857000 Series([], Name: 857000, dtype: object)
862000 Series([], Name: 862000, dtype: object)
865000 Series([], Name: 865000, dtype: object)
868000 Series([], Name: 868000, dtype: object)
880000 Series([], Name: 880000, dtype: object)
934000 pop     1
rnb     1
jazz    1
Name: 934000, dtype: object
936000 alternative    1
pop            1
folk           1
rock           1
Name: 936000, dtype: object
961000 rnb    1
Name: 961000, dtype: object
968000 Series([], Name: 968000, dtype: object)
970000 rap    1
Name: 970000, dtype: object
975000 Series([], Name: 975000, dtype: object)
976000 electronic    1
Name: 976000, dtype: object
982000 Series([], Name: 982000, dtype: object)
1009000 electronic    1
pop           1
Name: 1009000, dtype: object
1013000 blues    1
rock     1
Name: 1013000, dtype: object
1016000 Series([], Name: 1016000, dtype: object)
1024000 Series([], Name: 1024000, dtype: object)
1033000 electronic    1
world         1
Name: 1033000, dtype: object
1060000 pop    1
rnb    1
Name: 1060000, dtype: object
1079000 Series([], Name: 1079000, dtype: object)

In [40]:
df_unique_tracks.head(8)

,artist_name,track_title,rnb,rap,electronic,rock,newage,classical,reggae,blues,...,folk,easylistening,jazz,vocal,children's,punk,alternative,spokenword,pop,heavymetal
0,Anonymous 4,Agnus dei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Drake,Find Your Love,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Van Morrison,Hey Mr DJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Carly Rae Jepsen,Call Me Maybe,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Justin Timberlake,4 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Avant,When It Hurts,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Maria Carey,Love Takes Time,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
7,Tyga,Far Away,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
df_unique_tracks.head(10)

,artist_name,track_title,rnb,rap,electronic,rock,newage,classical,reggae,blues,...,folk,easylistening,jazz,vocal,children's,punk,alternative,spokenword,pop,heavymetal
0,Anonymous 4,Agnus dei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Drake,Find Your Love,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Van Morrison,Hey Mr DJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Carly Rae Jepsen,Call Me Maybe,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Justin Timberlake,4 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Avant,When It Hurts,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Maria Carey,Love Takes Time,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
7,Tyga,Far Away,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Of Mice & Men,Purified,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Allman Brothers Band,Stand Back,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
genreFilter

['rnb',
 'rap',
 'electronic',
 'rock',
 'newage',
 'classical',
 'reggae',
 'blues',
 'country',
 'world',
 'folk',
 'easylistening',
 'jazz',
 'vocal',
 "children's",
 'punk',
 'alternative',
 'spokenword',
 'pop',
 'heavymetal']

In [45]:
newGenreFilter = ['genre_' + genre for genre in genreFilter]
newGenreFilter

['genre_rnb',
 'genre_rap',
 'genre_electronic',
 'genre_rock',
 'genre_newage',
 'genre_classical',
 'genre_reggae',
 'genre_blues',
 'genre_country',
 'genre_world',
 'genre_folk',
 'genre_easylistening',
 'genre_jazz',
 'genre_vocal',
 "genre_children's",
 'genre_punk',
 'genre_alternative',
 'genre_spokenword',
 'genre_pop',
 'genre_heavymetal']

In [46]:
genreDict = dict(zip(genreFilter, newGenreFilter))

In [47]:
genreDict

{'rnb': 'genre_rnb',
 'rap': 'genre_rap',
 'electronic': 'genre_electronic',
 'rock': 'genre_rock',
 'newage': 'genre_newage',
 'classical': 'genre_classical',
 'reggae': 'genre_reggae',
 'blues': 'genre_blues',
 'country': 'genre_country',
 'world': 'genre_world',
 'folk': 'genre_folk',
 'easylistening': 'genre_easylistening',
 'jazz': 'genre_jazz',
 'vocal': 'genre_vocal',
 "children's": "genre_children's",
 'punk': 'genre_punk',
 'alternative': 'genre_alternative',
 'spokenword': 'genre_spokenword',
 'pop': 'genre_pop',
 'heavymetal': 'genre_heavymetal'}

In [50]:
df_unique_tracks.rename(columns=genreDict, inplace=True)

In [51]:
df_unique_tracks.head()

,artist_name,track_title,genre_rnb,genre_rap,genre_electronic,genre_rock,genre_newage,genre_classical,genre_reggae,genre_blues,...,genre_folk,genre_easylistening,genre_jazz,genre_vocal,genre_children's,genre_punk,genre_alternative,genre_spokenword,genre_pop,genre_heavymetal
0,Anonymous 4,Agnus dei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Drake,Find Your Love,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Van Morrison,Hey Mr DJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Carly Rae Jepsen,Call Me Maybe,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Justin Timberlake,4 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
df_mmtd_temp.shape

(1090726, 291)

In [96]:
df_mmtd_temp.shape

(1090726, 291)

In [97]:
df_unique_tracks.shape

(127173, 22)

In [98]:
df_unique_tracks.head()

,artist_name,track_title,genre_rnb,genre_rap,genre_electronic,genre_rock,genre_newage,genre_classical,genre_reggae,genre_blues,...,genre_folk,genre_easylistening,genre_jazz,genre_vocal,genre_children's,genre_punk,genre_alternative,genre_spokenword,genre_pop,genre_heavymetal
0,Anonymous 4,Agnus dei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Drake,Find Your Love,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Van Morrison,Hey Mr DJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Carly Rae Jepsen,Call Me Maybe,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Justin Timberlake,4 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
df_mmtd_with_genre = pd.merge(df_mmtd_temp, df_unique_tracks, on=["artist_name", "track_title"], how="outer")

In [101]:
df_mmtd_with_genre.shape

(1090726, 311)

In [115]:
df_mmtd_with_genre = df_mmtd_with_genre.sort_values(by=["tweet_id"])

In [117]:
df_mmtd_with_genre = df_mmtd_with_genre.reset_index()

In [122]:
df_mmtd_with_genre = df_mmtd_with_genre.drop(["index"], axis=1)

In [123]:
df_mmtd_with_genre.head()

,tweet_id,tweet_tweetId,tweet_userId,tweet_artistId,tweet_trackId,tweet_datetime,tweet_unixtime,tweet_weekday,tweet_longitude,tweet_latitude,...,genre_folk,genre_easylistening,genre_jazz,genre_vocal,genre_children's,genre_punk,genre_alternative,genre_spokenword,genre_pop,genre_heavymetal
0,1,167408118735699971,24842995,25040,420585,2012-02-09 00:43:00,1328744580,3,0.126573,52.1976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,167408251737088000,77147006,122992,2106213,2012-02-09 00:43:32,1328744612,3,-80.199900,36.0349,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,185189790390558720,174626103,468091,8030020,2012-03-29 02:21:01,1332980461,3,-0.142822,51.5207,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,229940340692500480,538669914,67904,1210996,2012-07-30 14:03:43,1343649823,0,2.334750,48.9009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5,167408424307523584,245555020,223140,4019560,2012-02-09 00:44:13,1328744653,3,-47.818000,-21.2134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
df_mmtd_temp.head()

,tweet_id,tweet_tweetId,tweet_userId,tweet_artistId,tweet_trackId,tweet_datetime,tweet_unixtime,tweet_weekday,tweet_longitude,tweet_latitude,...,lang_wuu,lang_xal,lang_xh,lang_yao,lang_yap,lang_yo,lang_yue,lang_za,lang_zh,lang_zu
0,1,167408118735699971,24842995,25040,420585,2012-02-09 00:43:00,1328744580,3,0.126573,52.1976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,167408251737088000,77147006,122992,2106213,2012-02-09 00:43:32,1328744612,3,-80.199900,36.0349,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,185189790390558720,174626103,468091,8030020,2012-03-29 02:21:01,1332980461,3,-0.142822,51.5207,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,229940340692500480,538669914,67904,1210996,2012-07-30 14:03:43,1343649823,0,2.334750,48.9009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,167408424307523584,245555020,223140,4019560,2012-02-09 00:44:13,1328744653,3,-47.818000,-21.2134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
df_mmtd_with_genre.to_csv("mmtd_with_genre.csv", index=False)

In [125]:
df_mmtd_with_genre.shape

(1090726, 311)

In [ ]:
# Code ends here.  What follows is scratch code.

In [66]:
"""
last_network = pylast.LastFMNetwork(api_key=api_key, api_secret=api_secret)

for idx, row in df_unique_tracks.iterrows():
    artist = row['artist_name']
    title = row['track_title']
    try:
        genre = last_network.get_track(title=title, artist=artist).get_top_tags(limit=10)
    except:
        genre = []
    currGenreSet = set([j[0].get_name() for j in genre])
    songGenres = genreFilterSet.intersection(currGenreSet)
    row[list(songGenres)] = True
    if idx%1000 == 0:
        print(idx, songGenres, row[list(songGenres)])
"""

0 set() Series([], Name: 0, dtype: object)
1000 set() Series([], Name: 1000, dtype: object)
2000 {'rnb', 'rap'} rnb    True
rap    True
Name: 2000, dtype: object
3000 {'pop'} pop    True
Name: 3000, dtype: object
4000 {'rnb'} rnb    True
Name: 4000, dtype: object
5000 set() Series([], Name: 5000, dtype: object)
8000 {'rock', 'reggae', 'pop'} rock      True
reggae    True
pop       True
Name: 8000, dtype: object
10000 {'rock', 'alternative', 'pop'} rock           True
alternative    True
pop            True
Name: 10000, dtype: object
11000 {'rnb'} rnb    True
Name: 11000, dtype: object
12000 {'rap', 'pop'} rap    True
pop    True
Name: 12000, dtype: object
15000 set() Series([], Name: 15000, dtype: object)
17000 {'rock', 'pop'} rock    True
pop     True
Name: 17000, dtype: object
18000 {'rap'} rap    True
Name: 18000, dtype: object
24000 {'alternative', 'electronic'} alternative    True
electronic     True
Name: 24000, dtype: object
30000 {'rock'} rock    True
Name: 30000, dtype: object
32000 set() Series([], Name: 32000, dtype: object)
34000 {'country'} country    True
Name: 34000, dtype: object
42000 {'pop', 'electronic'} pop           True
electronic    True
Name: 42000, dtype: object
49000 set() Series([], Name: 49000, dtype: object)
55000 {'pop'} pop    True
Name: 55000, dtype: object
56000 {'rock'} rock    True
Name: 56000, dtype: object
59000 set() Series([], Name: 59000, dtype: object)
78000 {'pop'} pop    True
Name: 78000, dtype: object
83000 {'pop'} pop    True
Name: 83000, dtype: object
88000 {'electronic'} electronic    True
Name: 88000, dtype: object
89000 {'rock', 'pop', 'folk'} rock    True
pop     True
folk    True
Name: 89000, dtype: object
90000 {'jazz'} jazz    True
Name: 90000, dtype: object
91000 {'rock'} rock    True
Name: 91000, dtype: object
94000 {'rock', 'pop', 'punk'} rock    True
pop     True
punk    True
Name: 94000, dtype: object
96000 {'rock', 'alternative'} rock           True
alternative    True
Name: 96000, dtype: object
104000 {'alternative'} alternative    True
Name: 104000, dtype: object
107000 {'rap'} rap    True
Name: 107000, dtype: object
108000 {'rock', 'blues'} rock     True
blues    True
Name: 108000, dtype: object
111000 {'rock', 'pop', 'folk'} rock    True
pop     True
folk    True
Name: 111000, dtype: object
115000 set() Series([], Name: 115000, dtype: object)
116000 {'rap'} rap    True
Name: 116000, dtype: object
120000 {'rock'} rock    True
Name: 120000, dtype: object
123000 {'rock', 'blues'} rock     True
blues    True
Name: 123000, dtype: object
127000 set() Series([], Name: 127000, dtype: object)
132000 {'rap'} rap    True
Name: 132000, dtype: object
148000 {'rnb'} rnb    True
Name: 148000, dtype: object
169000 {'rock', 'alternative'} rock           True
alternative    True
Name: 169000, dtype: object
176000 set() Series([], Name: 176000, dtype: object)
180000 {'rock', 'pop'} rock    True
pop     True
Name: 180000, dtype: object
186000 {'country'} country    True
Name: 186000, dtype: object
194000 {'pop'} pop    True
Name: 194000, dtype: object
196000 {'rock', 'pop', 'jazz'} rock    True
pop     True
jazz    True
Name: 196000, dtype: object
198000 set() Series([], Name: 198000, dtype: object)
212000 set() Series([], Name: 212000, dtype: object)
214000 set() Series([], Name: 214000, dtype: object)
228000 {'world', 'folk', 'pop'} world    True
folk     True
pop      True
Name: 228000, dtype: object
235000 {'electronic'} electronic    True
Name: 235000, dtype: object
242000 {'rock'} rock    True
Name: 242000, dtype: object
243000 set() Series([], Name: 243000, dtype: object)
246000 {'pop'} pop    True
Name: 246000, dtype: object
247000 {'alternative'} alternative    True
Name: 247000, dtype: object
248000 set() Series([], Name: 248000, dtype: object)
252000 {'alternative'} alternative    True
Name: 252000, dtype: object
256000 {'rock', 'alternative'} rock           True
alternative    True
Name: 256000, dtype: object
260000 set() Series([], Name: 260000, dtype: object)
261000 set() Series([], Name: 261000, dtype: object)
264000 set() Series([], Name: 264000, dtype: object)
273000 {'rock'} rock    True
Name: 273000, dtype: object
292000 set() Series([], Name: 292000, dtype: object)
295000 set() Series([], Name: 295000, dtype: object)
302000 {'pop', 'jazz'} pop     True
jazz    True
Name: 302000, dtype: object
311000 {'pop', 'electronic'} pop           True
electronic    True
Name: 311000, dtype: object
321000 set() Series([], Name: 321000, dtype: object)
325000 set() Series([], Name: 325000, dtype: object)
328000 set() Series([], Name: 328000, dtype: object)
333000 {'rnb'} rnb    True
Name: 333000, dtype: object
340000 {'reggae'} reggae    True
Name: 340000, dtype: object
343000 set() Series([], Name: 343000, dtype: object)
344000 set() Series([], Name: 344000, dtype: object)
351000 {'rock', 'alternative', 'punk'} rock           True
alternative    True
punk           True
Name: 351000, dtype: object
365000 set() Series([], Name: 365000, dtype: object)
374000 set() Series([], Name: 374000, dtype: object)
379000 {'world', 'pop', 'folk'} world    True
pop      True
folk     True
Name: 379000, dtype: object
387000 set() Series([], Name: 387000, dtype: object)
406000 {'rock'} rock    True
Name: 406000, dtype: object
408000 set() Series([], Name: 408000, dtype: object)
412000 set() Series([], Name: 412000, dtype: object)
420000 set() Series([], Name: 420000, dtype: object)
454000 {'punk'} punk    True
Name: 454000, dtype: object
457000 set() Series([], Name: 457000, dtype: object)
462000 set() Series([], Name: 462000, dtype: object)
479000 set() Series([], Name: 479000, dtype: object)
487000 {'rnb', 'pop'} rnb    True
pop    True
Name: 487000, dtype: object
509000 set() Series([], Name: 509000, dtype: object)
512000 set() Series([], Name: 512000, dtype: object)
516000 set() Series([], Name: 516000, dtype: object)
536000 set() Series([], Name: 536000, dtype: object)
545000 {'rock', 'alternative', 'pop', 'folk'} rock           True
alternative    True
pop            True
folk           True
Name: 545000, dtype: object
559000 {'pop'} pop    True
Name: 559000, dtype: object
572000 set() Series([], Name: 572000, dtype: object)
579000 set() Series([], Name: 579000, dtype: object)
586000 set() Series([], Name: 586000, dtype: object)
593000 set() Series([], Name: 593000, dtype: object)
623000 set() Series([], Name: 623000, dtype: object)
702000 set() Series([], Name: 702000, dtype: object)
716000 {'vocal', 'pop', 'electronic'} vocal         True
pop           True
electronic    True
Name: 716000, dtype: object
719000 {'electronic'} electronic    True
Name: 719000, dtype: object
725000 {'rock'} rock    True
Name: 725000, dtype: object
735000 {'rock'} rock    True
Name: 735000, dtype: object
737000 {'pop'} pop    True
Name: 737000, dtype: object
751000 {'pop'} pop    True
Name: 751000, dtype: object
752000 set() Series([], Name: 752000, dtype: object)
758000 set() Series([], Name: 758000, dtype: object)
771000 set() Series([], Name: 771000, dtype: object)
772000 {'rock'} rock    True
Name: 772000, dtype: object
794000 set() Series([], Name: 794000, dtype: object)
825000 {'rock', 'folk'} rock    True
folk    True
Name: 825000, dtype: object
827000 {'reggae'} reggae    True
Name: 827000, dtype: object
844000 {'country', 'folk'} country    True
folk       True
Name: 844000, dtype: object
852000 set() Series([], Name: 852000, dtype: object)
857000 {'punk'} punk    True
Name: 857000, dtype: object
862000 set() Series([], Name: 862000, dtype: object)
865000 set() Series([], Name: 865000, dtype: object)
868000 set() Series([], Name: 868000, dtype: object)
880000 set() Series([], Name: 880000, dtype: object)
934000 {'jazz'} jazz    True
Name: 934000, dtype: object
936000 {'rock', 'alternative', 'folk'} rock           True
alternative    True
folk           True
Name: 936000, dtype: object
961000 {'rnb'} rnb    True
Name: 961000, dtype: object
968000 set() Series([], Name: 968000, dtype: object)
970000 {'rap'} rap    True
Name: 970000, dtype: object
975000 set() Series([], Name: 975000, dtype: object)
976000 {'electronic'} electronic    True
Name: 976000, dtype: object
982000 set() Series([], Name: 982000, dtype: object)
1009000 {'pop', 'electronic'} pop           True
electronic    True
Name: 1009000, dtype: object
1013000 {'rock', 'blues'} rock     True
blues    True
Name: 1013000, dtype: object
1016000 set() Series([], Name: 1016000, dtype: object)
1024000 set() Series([], Name: 1024000, dtype: object)
1033000 set() Series([], Name: 1033000, dtype: object)
1060000 {'rnb', 'pop'} rnb    True
pop    True
Name: 1060000, dtype: object
1079000 set() Series([], Name: 1079000, dtype: object)

In [82]:
df_mmtd_temp['artist_name'].nunique()

24549

In [85]:
df_unique_tracks['rock'].nunique()

1

In [ ]:
#df_mmtd_temp.compute()

In [ ]:
# Plot the number of tweets per genre
df_mmtd[genreFilter].sum().plot(kind='bar', title='Number of Tweets per Genre', rot=45)
plt.xlabel('Genre')
plt.ylabel('Number of Tweets')
plt.show()

In [ ]:
# plot the number of Tweets per country
df_mmtd_10k['countryName'].value_counts().plot(kind='bar', title='Number of Tweets per Country')
plt.xlabel('Country')
plt.ylabel('Number of Tweets')
plt.show()

In [ ]:
# Spatio-temporal Statistical Aspects

sampleCountry = ['Brazil', 'France', 'Indonesia', 'Malaysia', 'United States']
sample_dow = [4, 6, 0, 2, 1]
sample_time = [0, 5, 12, 17, 21]

# Find the number of tweets per genre for each combination of country, dow and time

df_st_decomposition = pd.DataFrame(columns=['countryName', 'dow', 'hour'] + genreFilter)

for country, dow in zip(sampleCountry, sample_dow):
  for time in sample_time:
    df_st_decomposition.loc[len(df_st_decomposition)] = [country, dow, time] + list(df_mmtd_10k[(df_mmtd_10k['countryName'] == country) & (df_mmtd_10k['dow'] == dow) & (df_mmtd_10k['hour'] == time)][genreFilter].sum())
df_st_decomposition

In [127]:
df_unique_tracks.head()

,artist_name,track_title,genre_rnb,genre_rap,genre_electronic,genre_rock,genre_newage,genre_classical,genre_reggae,genre_blues,...,genre_folk,genre_easylistening,genre_jazz,genre_vocal,genre_children's,genre_punk,genre_alternative,genre_spokenword,genre_pop,genre_heavymetal
0,Anonymous 4,Agnus dei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Drake,Find Your Love,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Van Morrison,Hey Mr DJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Carly Rae Jepsen,Call Me Maybe,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Justin Timberlake,4 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
df_unique_tracks.loc[58]

artist_name                 Taylor Swift
track_title            Should've Said No
genre_rnb                            0.0
genre_rap                            0.0
genre_electronic                     0.0
genre_rock                           1.0
genre_newage                         0.0
genre_classical                      0.0
genre_reggae                         0.0
genre_blues                          0.0
genre_country                        1.0
genre_world                          0.0
genre_folk                           0.0
genre_easylistening                  0.0
genre_jazz                           0.0
genre_vocal                          0.0
genre_children's                     0.0
genre_punk                           0.0
genre_alternative                    0.0
genre_spokenword                     0.0
genre_pop                            1.0
genre_heavymetal                     0.0
Name: 58, dtype: object

In [138]:
df_unique_tracks.loc[58][df_unique_tracks.loc[58]==1]

genre_rock       1.0
genre_country    1.0
genre_pop        1.0
Name: 58, dtype: object

In [139]:
df_unique_tracks.head()

,artist_name,track_title,genre_rnb,genre_rap,genre_electronic,genre_rock,genre_newage,genre_classical,genre_reggae,genre_blues,...,genre_folk,genre_easylistening,genre_jazz,genre_vocal,genre_children's,genre_punk,genre_alternative,genre_spokenword,genre_pop,genre_heavymetal
0,Anonymous 4,Agnus dei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Drake,Find Your Love,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Van Morrison,Hey Mr DJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Carly Rae Jepsen,Call Me Maybe,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Justin Timberlake,4 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
df_unique_tracks.head()

NameError: name 'df_unique_tracks' is not defined